/*
/*/
!/addons/
/addons/*
!/addons/moat_addons
!/gamemodes/
/gamemodes/*
!/gamemodes/base
!/gamemodes/terrortown
!/gamemodes/terrorcity
!/materials
!/models
!/sound
!/lua
!/bin
!/data
!/db
*.*

!/data/banned_words_list.txt
# !/data/moat/ttt/textures-data.lmp
# !/data/moat/ttt/tttbase-data.lmp
# !/data/moat/ttt/talents-data.lmp
# !/data/moat/ttt/weapons-data.lmp

# mats
!/materials/**/*.vtf
!/materials/**/*.vmt

# mdls
!/models/**/*.vtx
!/models/**/*.mdl
!/models/**/*.phy
!/models/**/*.vvd

# sounds (use cdn if u can)
!/sound/**/*.mp3
!/sound/**/*.ogg
!/sound/**/*.wav

# random bullshit
!/lua/bin/gmsv_luaerror_linux.dll
!/lua/bin/gmsv_luaerror_win32.dll
!/lua/bin/gmcl_luaerror_linux.dll
!/lua/bin/gmcl_luaerror_win32.dll
!/lua/bin/gmsv_mysqloo_linux.dll
!/lua/bin/gmsv_mysqloo_win32.dll
!/bin/gmsv_mysqloo_linux.dll
!/bin/gmsv_mysqloo_win32.dll

!*.lua
addons/moat_addons/lua/autorun/server/cac.lua
lua/autorun/server/gm_moatservers.lua
lua/includes/modules/moat_serversecure.lua
addons/moat_addons/lua/autorun/lol.lua
!*.sql